---
import Layout from "@/layouts/Layout.astro";
import { DarkToggle } from "@/components/dark-toggle.tsx";
import { ImageSwiper } from "@/components/image-swiper.tsx";

import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <main class="h-screen w-screen">
    <DarkToggle client:load />
    <div
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-64 h-96"
    >
      <ImageSwiper client:load />
    </div>
  </main>
</Layout>
