---
import Layout from "@/layouts/Layout.astro";

import "@/styles/fonts.css";
import "@/styles/globals.css";
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Meow+Script&family=Waterfall&display=swap"
  rel="stylesheet"
/>
<Layout title="Welcome to Astro.">
  <main class="w-screen h-max flex flex-col xl:flex-row overflow-auto">
    {/**/}
    <div class="h-screen w-screen max-w-[min(100vw,1280px)] relative">
      <img src="/DN_02625.JPG" class="h-full w-full object-cover" />
      <div class="absolute top-0 left-0 right-0 mt-8 select-none">
        <div
          class="leading-[0.8] text-9xl text-amber-800 max-w-[50rem] mx-4 sm:mx-auto"
          style="font-family: 'Waterfall';"
        >
          <p class="text-center md:text-left">Hiếu</p>
          <p class="text-center md:text-left md:ml-[30%] text-6xl">&</p>
          <p class="text-center md:text-right">Thảo Nguyên</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-max py-8 px-12">
      <h3 class="block text-center text-5xl" style="font-family: 'Waterfall';">
        Save The Date
      </h3>
      <p class="text-lg text-muted-foreground mt-24 ml-4">Coming soon...</p>
    </div>
  </main>
</Layout>
